<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>Contact Us</h2>
          <p>If you have any questions about the Erasmus program feel free to give us a call. Our contact information is listed down bellow!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 offset-md-1 offset-lg-1 offset-xl-1">
        <h3 class="footer-main-text">Contact Information</h3>
        <p>Aleja Konzula - Meljanac bb - Travnik - Bosnia and Herzegovina</p>
        <p><i class="fa fa-phone"></i> +387 30 509 682</p>
        <p><i class="fa fa-envelope"></i> erasmus_institutional_coordinator@iu-travnik.com</p>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-md-1 offset-lg-2 offset-xl-2">
        <h3 class="footer-main-text">Work Time</h3>
        <p><i class="fa fa-clock"></i> <span class="day">Weekdays:</span> <span>7am to 4pm</span></p>
        <p><i class="fa fa-clock"></i> <span class="day">Saturday:</span> <span>7am to 4pm</span></p>
        <p><i class="fa fa-clock"></i> <span class="day">Sunday:</span> <span>Closed</span></p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container text-center">
    <p>© All rights reserved by the International University of Travnik</p>
  </div>
</footer>