<section class="bg-light fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="skills-text text-center">
          <h2>About Us</h2>
          <p>We, from the International University of Travnik help and guide our students towards a better path. Our goal is to improve the quality of our own college so we can become one of the target destinations in the future.</p><br>
          <span>
            {{#link-to "developers" class="mt-0 pt-0"}}
              Website Developers
            {{/link-to}}
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="skills-text text-center">
          <h2>Helpful Links</h2>
          <span><a href="http://erasmus.iu-travnik.com/images/downloads/Erasmus+_Overview.pdf">Erasmus+ Overview</a></span><br>
          <span><a href="http://erasmus.iu-travnik.com/images/downloads/EMJMD.pdf">Erasmus Mundus Joint Master Degrees</a></span><br>
          <span><a href="http://erasmus.iu-travnik.com/images/downloads/CBHE.pdf">Capacity Building in the field of Higher Education</a></span><br>
          <span><a href="http://erasmus.iu-travnik.com/images/downloads/JM.pdf">Jean Monnet Programme</a></span>
        </div>
      </div>
    </div>
  </div>
</section>