<section class="fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>How to Apply?</h2>
          <p>
            Currently the only way to apply for the Erasmus+ program that the International University of Travnik offers is through contacting them directly via mail or phone. Within our site you can find all given contact information that is currently instate.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>What do you need for an application?</h2>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="mz-module-about">
          <i class="fas fa-id-card ot-circle"></i>
          <h3>Id Card</h3>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="mz-module-about">
          <i class="fas fa-passport ot-circle"></i>
          <h3>Passport</h3>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="mz-module-about">
          <i class="fas fa-file-alt ot-circle"></i>
          <h3>Some Paperwork</h3>
        </div>
      </div>
    </div>
  </div>
</section>