<section class="light-bg fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>Our Team</h2>
          <p>We are three individuals who work together to create great, easy-to-use, functional and responsive applications ranging from websites to android applications.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="team-item">
          <div class="team-image pt-5 pb-4">
            <img src="assets/images/contact/bekir.jpg" class="img-fluid image-height-limit" alt="author">
          </div>
          <div class="team-text pb-4">
            <h3>Bekir Akeljic</h3>
            <div class="team-location">Turbe, Bosnia and Herzegovina</div>
            <div class="team-position">– Lead Designer –</div>
            <p class="mb-0 pb-0">Logo design and UI/UX design.</p>
            <a class="team-link" href="https://www.linkedin.com/in/bekir-akeljic-49a5a9147"><i class="fab fa-linkedin"></i></a>
            <a class="team-link" href="https://bs-ba.facebook.com/bekir.akeljic.5"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="team-item">
          <div class="team-image pt-5 pb-4">
            <img src="assets/images/contact/zijah.jpg" class="img-fluid image-height-limit" alt="author">
          </div>
          <div class="team-text pb-4">
            <h3>Zijah Ribic</h3>
            <div class="team-location">Travnik, Bosnia and Herzegovina</div>
            <div class="team-position">– Lead Developer and Assistant Designer –</div>
            <p class="mb-0 pb-0">Front-end and Back-end development and UI design.</p>
            <a class="team-link" href="https://www.linkedin.com/in/zijah-ribic-757918160"><i class="fab fa-linkedin"></i></a>
            <a class="team-link" href="https://github.com/SimplyChuro"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="team-item">
          <div class="team-image pt-5 pb-4">
            <img src="assets/images/contact/nedim.jpg" class="img-fluid image-height-limit" alt="author">
          </div>
          <div class="team-text pb-4">
            <h3>Nedim Malicbegovic</h3>
            <div class="team-location">Zavidovici, Bosnia and Herzegovina</div>
            <div class="team-position">– Lead QA Tester and Writer –</div>
            <p class="mb-0 pb-0">Unit testing alongside writing and translating.</p>
            <a class="team-link" href="https://www.linkedin.com/in/nedim-malicbegovic-43b56a149"><i class="fab fa-linkedin"></i></a>
            <a class="team-link" href="https://www.instagram.com/constablenedim"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>