<header>
  <div class="container">
    <div class="slider-container fade-medium">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To Erasmus+!</div>
        <div class="intro-heading">Apply today</div>
        {{#link-to "program" class="btn-xl"}}
          Learn more
        {{/link-to}}
      </div>
    </div>
  </div>
</header>
<section class="light-bg fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>ABOUT</h2>
          <p>What is Erasmus+? Erasmus is a student exchange program which enables college students to travel and study aboard different countries.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
        <div class="mz-module-about">
          <i class="fas fa-bus ot-circle"></i>
          <h3>Travel</h3>
          <p>Travel the whole world using the Erasmus program.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
        <div class="mz-module-about">
          <i class="fas fa-hotel ot-circle"></i>
          <h3>College</h3>
          <p>Study at prestigious colleges who are certified all across the world for their skill and experience.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
        <div class="mz-module-about">
          <i class="fas fa-atlas ot-circle"></i>
          <h3>Knowledge</h3>
          <p>Learn along the way and further your college education.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
        <div class="mz-module-about">
          <i class="fas fa-mountain ot-circle"></i>
          <h3>Scenery</h3>
          <p>Enjoy in the scenery of beautiful cities and countries.</p>
        </div>
      </div>
    </div>
  </div>
</section>