<section class="fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>Our Program</h2>
          <p>
            Erasmus + is a new EU program for education, training and sport designed for the youth in the period of 2014-2020. The objectives of the Erasmus + program is to improve skills, employment rate, to modernize education, training of young people. The program will last seven years, and has a budget of 14.7 billion EUR - 40% more than current consumption, which shows that the European Union is participating in this area.
            Thanks to Erasmus +, more than 4 million Europeans will have the opportunity to study, train, work and volunteer abroad.
            Erasmus + will support transnational partnerships among institutions and organizations in the field of education, training, and youth in order to encourage co-operation and connect education and labor fields and thus try to reduce skills differences, in Europe.
            National efforts will also be supported to modernize the education, training and youth systems.
            Erasmus + connects seven existing European Union programs in education, training, and youth. It will also support sport for the first time. Erasmus + is an integrated program and offers more opportunities for cooperation between education, training, youth and sports sectors because they are easier to access compared to its predecessors because it has a great funding and simple rules.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="light-bg fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="section-title">
          <h2>Who can enter the program?</h2>
          <p>
            Individuals - students, interns, trainees, adults, young people, volunteers, teachers, trainers, youth workers, professionals from organizations active in the field of education, training and youth make the main target group of the program. It should be kept in mind, however, individuals can not apply directly for the grant of financial support, but they must contact their institution (eg university), organization or company which can submit the application.
            Institutions eligible for participation in Erasmus + projects must primarily belong to the program countries (Members of the European Union, FYR Macedonia, Iceland, Liechtenstein, Norway and Turkey), while some parts of the program, especially those related to higher education, are open to participants from the partner countries (partner countries can be those located in the neighborhood of the European Union, but also all other countries of the world. This category includes Bosnia and Herzegovina).
          </p>        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="mz-module-about">
          <i class="fas fa-user-graduate ot-circle"></i>
          <h3>Students</h3>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="mz-module-about">
          <i class="fas fa-users ot-circle"></i>
          <h3>Everyone</h3>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="mz-module-about">
          <i class="fas fa-user-tie ot-circle"></i>
          <h3>Workers</h3>
        </div>
      </div>
    </div>
  </div>
</section>